*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
}
body{
    /* overflow-x: hidden; */
    position: relative;
}
.window{
    width: 100%;
    height: 100%;
    background: black;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 99;
    display: none;
}
.tob{
    width: 100%;
    height: 0.88rem;
    background: #d43d3d;
    padding-left: 0.4rem;
    padding-right: 0.2rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.con-i{
    width: 0.64rem;
    height: 0.5rem;
    background: url('https://s3.pstatp.com/growth/mobile_list/image/feed_ic_message_normal@3x_f2ea949f.png');
    background-repeat: no-repeat;
    background-size: 0.54rem auto;
    margin-top: 0.2rem;
}
.con-m{
    width: 2.46rem;
    height: 0.88rem;
    display: flex;
    justify-content: space-between;
}
.con-m1{
    width: 1.96rem;
    height: 0.88rem;
    background: url('https://s3b.pstatp.com/growth/mobile_list/image/wap_logo@3x_581de69e.png')no-repeat;
    background-size: 83px auto;
    background-position: center;

}
.con-m2{
    width: 0.5rem;
    height: 0.88rem;
    background: url('https://s3a.pstatp.com/growth/mobile_list/image/titlebar_refresh_small@3x_96fb31e4.png')no-repeat;
    background-size: 0.3rem auto;
    background-position: center center; 
}
.con-g{
    width: 0.72rem;
    height: 0.48rem;
    margin-top: 0.2rem;
}
.con-img{
    width: 0.48rem;
    height: 0.48rem;
    background: url('https://s3.pstatp.com/growth/mobile_list/image/feed_ic_search_normal@3x_0f198e56.png')no-repeat;
    background-size: 0.48rem auto;
}
.tob-one{
    width: 100%;
    height: 0.72rem;
    background: #f4f5f6;
}
.top_menu_more{
    width: 0.8rem;
    height: 0.72rem;
    float: right;
    background: #f4f5f6;
}
.top_menu_more .list_shadow{
    position: absolute;
    width: 10px;
    height: 100%;
    left: -10px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABXCAQAAACjUt0DAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAEgAAABIAEbJaz4AAAAJdnBBZwAAABIAAABXAK421QoAAAFiSURBVEjH1ZbbtoMgDERnKP//yaYPVSAhF077dHQtamU7k0RKAxwcPCF4ItF+tWMNsVZS91uJhNlRX7FGPMgizOrEObJSiZUUAnRkR6q0qnErm7Lhc9UDBaXUt0kN0FOaOo4SQ5BRCahOA3HT5KwTE50GZhV37VazJKYljjE2SE+sPsittC1XW/FmgNVsZJcvuhvrAbLqffNadPXLYgaLzs8wWSo6rk9FYdeBUW/x1DRswfS6ysuNlcDZ7ssTSCpIfDsZn/J8b+Omh8pjR/X8DkuWndwnINpOlukFbtvzVslAEmF+TCMaCC4fkr8oKUgVzmQ4IBojHfqFqwd28O0S6AXA7ib2P+HOTlzLcXZ3+tFz6yRObiOmGY+3k6ev5XN97Uq7FoCXkl5HTrT6tQiw2u1aY/TrZF551jyMFPZiOqW1O5zXiJx1PV/2Tw52tD8ddYc/9Zlq7qhBrlrtuhX/98cbycGBFpNaiv0AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDItMjdUMTc6NDQ6NDErMDg6MDDFbrv7AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTAyLTI3VDE3OjQ0OjQxKzA4OjAwtDMDRwAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAASUVORK5CYII=');
    background-size: contain;
    background-color: rgba(244, 245, 246, 0.3);
}
.top_menu_more .more_btn{
    width: 0.8rem;
    height: 0.72rem;
    display: block;
    font-size: 0.8rem;
    text-align: center;
}
.top_menu_more .cross{
    color: #f85959;
    display: block;
    line-height: 0.72rem;
}
.top_menu_list{
    width: 6.7rem;
    height: 0.72rem;
    overflow-y: hidden;
}
.top_menu_list .con-word{
    display: flex;
    justify-content: space-between;
}
.top_menu_list .word{
    width: 1.08rem;
    height: 0.52rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    font-size: 0.34rem;
    line-height: 0.52rem;
    text-align: center;
}
.box{
    width: 100%;
}
.ul .con{
    width: 6.9rem;
    height: 1.49rem;
    padding-top: 0.24rem;
    padding-bottom: 0.24rem;
    border-bottom: gainsboro solid 0.01rem;
    margin:auto;
}
.ul .con-one{
    height: 2.26rem;
    display: flex;
}
.con_url{
    width: 4.63rem;
    height: 100%;
}
.con_img{
    width: 2.28rem;
    height: 100%;
    background: url('https://p3.pstatp.com/list/a5de000ea97b49229e2b')no-repeat;
}
.con .item_detail{
    width: 100%;
    height: 0.8rem;
}
.item_info{
    width: 100%;
    height: 0.26rem;
    margin-top: 0.08rem;
}
.stick{
    width: 0.5rem;
    height: 0.26rem;
    font-size: 0.18rem;
    color: #f85959;
    text-align: center;
    line-height: 0.26rem;
    border:solid 0.01rem #f85959;
    display: block;
    float: left;
}
.stick-one{
    height: 0.24rem;
    font-size: 0.26rem;
    color: #999;
    display: block;
    line-height: 0.26rem;
    margin-left: 0.1rem;
    float: left;
    
}
.stick-two{
    font-size: 0.26rem;
    color: #999;
    display: block;
    height: 0.24rem;
    line-height: 0.24rem;
}
h3{
    font-size: 0.34rem;
    color: #000;
    line-height: 0.4rem;
    font-weight:400 ;
}
.popup{
    width: 5.4rem;
    height: 4.50rem;
    background: white;
    border-radius: 0.2rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    display: none;
}
.banner{
    width: 100%;
    height: 2.42rem;
    padding-left: 1.08rem;
    padding-right: 1.08rem;
    padding-top: 0.2rem;
    background: url('https://s3a.pstatp.com/growth/mobile_list/image/popup_banner_6006ac97.png')no-repeat;
    background-size: 3.3rem auto;
    background-position: center;
}
.popup p{
    margin-bottom: 0.48rem;
    margin-top: 0.12rem;
    font-size: 0.34rem;
    text-align: center;
    color: #a5a5a5;
}
.download-btn{
    width: 4.4rem;
    height: 0.8rem;
    background: #ff6762;
    border-radius: 0.2rem;
    color: #fff;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.4rem;
    margin-left: 10%;
}
.close{
    width: 0.8rem;
    height: 0.6rem;
    position: absolute;
    right: 0;
    top: 0;
}
.close span{
    display: block;
    font-size: 0.5rem;
    text-align: center;
    line-height: 0.6rem;
    color:  #a5a5a5;
}