/*
* @Author: ZHAO
* @Date:   2018-06-27 15:32:14
* @Last Modified by:   ZHAO
* @Last Modified time: 2018-06-27 16:57:11
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
@media screen and (min-width: 320px) {
	html{
		font-size: calc(320/750*100px)
	}
}
@media screen and (min-width: 360px) {
	html{
		font-size: calc(360/750*100px)
	}
}
@media screen and (min-width: 375px) {
	html{
		font-size: calc(375/750*100px)
	}
}
@media screen and (min-width: 412px) {
	html{
		font-size: calc(412/750*100px)
	}
}
@media screen and (min-width: 414px) {
	html{
		font-size: calc(414/750*100px)
	}
}
@media screen and (min-width: 750px) {
	html{
		font-size: calc(750/750*100px)
	}
}
